# 16 june 2019, TUPPLES

In [1]:
#tupples are immutable (change nhi ho sakhta) and lists are mutable (changable)
mytuple = (3,4,5,6,7)

In [2]:
len(mytuple)

5

In [3]:
mytuple[4]

7

In [5]:
del mytuple[4]

TypeError: 'tuple' object doesn't support item deletion

In [6]:
type (mytuple)

tuple

In [7]:
mytuple[2:4]

(5, 6)

In [8]:
#all slicing rules of list are also applied in tuple

In [9]:
#packing and unpacking in list and tuples

In [11]:
a=("asad","fahad","asma","duaa") #packing

In [12]:
w,x,y,z=a

In [13]:
w

'asad'

In [14]:
z

'duaa'

In [15]:
rectangle=[100,50]

In [16]:
height,width=rectangle

In [17]:
height

100

In [18]:
width

50

In [19]:
#list aur tuple mein difference ye hy ky tuple inchangable hy aur list changable hy and list mein square brackets use hoty aur tuple mein square brackets

# FOR LOOPS

In [22]:
#task: print your name ten times 
print("Duaa Ahmad")
print("Duaa Ahmad")
print("Duaa Ahmad")

Duaa Ahmad
Duaa Ahmad
Duaa Ahmad

In [24]:
for a in range(10):
    print(a,"Duaa Ahmad")#a likhny se number mein aya hy likha wa

0 Duaa Ahmad
1 Duaa Ahmad
2 Duaa Ahmad
3 Duaa Ahmad
4 Duaa Ahmad
5 Duaa Ahmad
6 Duaa Ahmad
7 Duaa Ahmad
8 Duaa Ahmad
9 Duaa Ahmad

In [26]:
for a in range(10):
    print("Duaa Ahmad")#yahan a na likhny ki wajah se numbers nhi aye yahan

Duaa Ahmad
Duaa Ahmad
Duaa Ahmad
Duaa Ahmad
Duaa Ahmad
Duaa Ahmad
Duaa Ahmad
Duaa Ahmad
Duaa Ahmad
Duaa Ahmad

In [27]:
for a in range (2,5):
    print("Duaa Ahmad")

Duaa Ahmad
Duaa Ahmad
Duaa Ahmad

In [31]:
for a in range(1,10,2):
    print(a,"Duaa Ahmad")

1 Duaa Ahmad
3 Duaa Ahmad
5 Duaa Ahmad
7 Duaa Ahmad
9 Duaa Ahmad

In [32]:
for a in range(0,10,2): #(start,end-1,step)
    print(a,"Duaa Ahmad")

0 Duaa Ahmad
2 Duaa Ahmad
4 Duaa Ahmad
6 Duaa Ahmad
8 Duaa Ahmad

In [33]:
for a in range(10,1,-2):
    print(a,"Duaa Ahmad")

10 Duaa Ahmad
8 Duaa Ahmad
6 Duaa Ahmad
4 Duaa Ahmad
2 Duaa Ahmad

In [34]:
my_list = ["Duaa","Ali","Mahnoor"]
for i in my_list:
    print(i)

Duaa
Ali
Mahnoor

In [35]:
my_num=[2,4,5,6,8]
for i in my_num:
    print(i*2)

4
8
10
12
16

In [37]:
my_num=[2,4,5,6,8]
my_new_list=[]
for i in my_num:
    my_new_list.append(i*2)
print(my_new_list)

[4, 8, 10, 12, 16]

In [40]:
for i in range(6):
    print(i)
    if i==3:
        print(i*2)

0
1
2
3
6
4
5

In [41]:
#break
#continue
#pass

In [42]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [43]:
for i in range(9):
    if i==3:
        break
    print(i)

0
1
2

In [45]:
for i in range(9):
    if i==3:
        continue
    print(i)

0
1
2
4
5
6
7
8

In [46]:
for i in range(5):
    pass

In [48]:
#take input from user print table
#of that number in the following format 
#2 x 1 = 2

In [1]:
table=int(input("Enter a table number"))
for i in range(1,11):
    print(table*i)

Enter a table number2
2
4
6
8
10
12
14
16
18
20

In [3]:
table=int(input("Enter a table number"))
for i in range(1,11):
    print(f"{table} x {i} = {table*i}")

Enter a table number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [6]:
for a in "pakistan":#jb hum list par lagaty hy tou wo har element print krta but jb hum string pr lagaty tou wo ek ek letter print krtra 
    print(a)

p
a
k
i
s
t
a
n

In [7]:
for a in "Duaa":
    for b in range(5):
        print(a,b)

D 0
D 1
D 2
D 3
D 4
u 0
u 1
u 2
u 3
u 4
a 0
a 1
a 2
a 3
a 4
a 0
a 1
a 2
a 3
a 4

In [9]:
f_name=["Duaa","Mahnoor","Samama"]
l_name=["Ahmad","Naseer","Ali"]
full_name=[]
for f in f_name:
    for l in l_name:
        full_name.append(f + " " +l)
full_name

['Duaa Ahmad',
 'Duaa Naseer',
 'Duaa Ali',
 'Mahnoor Ahmad',
 'Mahnoor Naseer',
 'Mahnoor Ali',
 'Samama Ahmad',
 'Samama Naseer',
 'Samama Ali']

In [10]:
#jo slicing tuple aur list mein ho sakhti wo string mein bhi ho sakhti

In [11]:
sl_str="Pakistan Zindabad"
len(sl_str)

17

In [12]:
sl_str[5:11]

'tan Zi'

In [13]:
sl_str[5:]

'tan Zindabad'

In [14]:
sl_str[:11]

'Pakistan Zi'

# DICTIONARIES

In [15]:
#DICTIONARIES WORK ON KEY VALUE PAIR

In [17]:
#definition
adict={}

In [18]:
type(adict)

dict

In [19]:
len(adict)

0

In [26]:
#adding values to a dictionary 
adict ['name'] ="Duaa Ahmad" #name=key and duaa ahmad is the value of the key
adict['age']=19
adict['contact']="6726437"

In [21]:
adict

{'name': 'Duaa Ahmad'}

In [24]:
adict

{'name': 'Duaa Ahmad', 'age': 19, 'contact': '6726437'}

In [25]:
adict['age']

19

In [28]:
del adict['contact']

In [29]:
adict

{'name': 'Duaa Ahmad', 'age': 19}

In [30]:
adict[100]="hundred"

In [31]:
adict

{'name': 'Duaa Ahmad', 'age': 19, 100: 'hundred'}

In [32]:
#keys
#values
#items

In [35]:
for key in adict.keys():
    print(key)

name
age
100

In [37]:
for key,value in adict.items():
    print(key,value)

name Duaa Ahmad
age 19
100 hundred

In [40]:
for k in adict.items():
    print(k)#ab ye tuple ki form mein ayega cause 2 value hy aur 1 variable

('name', 'Duaa Ahmad')
('age', 19)
(100, 'hundred')

In [42]:
#khud karna hy
# Method	Description
# clear()	Removes all the elements from the dictionary
# copy()	Returns a copy of the dictionary
# fromkeys()	Returns a dictionary with the specified keys and values
# get()	Returns the value of the specified key
# items()	Returns a list containing a tuple for each key value pair
# keys()	Returns a list containing the dictionary's keys
# pop()	Removes the element with the specified key
# popitem()	Removes the last inserted key-value pair
# setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
# update()	Updates the dictionary with the specified key-value pairs
# values()	Returns a list of all the values in the dictionary

# 34-CREATING A LIST OF DICTIONARIES

In [43]:
eklist = [23,24,25,{"fruit":"apple","food":"biryani"}]

In [44]:
eklist[3]

{'fruit': 'apple', 'food': 'biryani'}

In [45]:
eklist[3]['food']

'biryani'

In [46]:
"age" in adict

True